{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear evento</title>
    <link rel="stylesheet" href="{% static 'Calendario/css/estilos.css' %}">
</head>
<body>
    <h1 id="title-calendario">Crear eventos para calendario</h1>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-admin">Guardar evento</button>
            <a href="{% url 'Calendario_academico'%}" class="btn-volver">Volver al calendario</a>
        </form>
    </div>
</body>
</html>