@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #B5E2FA; 
}

#title-calendario {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    flex-wrap: wrap;

}

.btn-admin, .btn-login, .btn-logout {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    float: left;
}

.btn-admin:hover, .btn-login:hover, .btn-logout:hover {
    background-color: #0056b3;
}

.calendario-container {
    clear: left;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    padding-top: 20px;
}

.evento-block {
    width: 290px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 8px solid #3083DC; /* Color borde izquierdo para eventos , 51CB20 color borde para feriados*/
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
}

.evento-block.feriado {
    border-left-color: #ff5733;
}

.evento-block h2 {
    margin: 0;
}

.evento-block.feriado h2 {
    margin: 0;
}

.evento-block p {
    margin: 5px 0 0;
    color: #3d3535;
}

#log_rec{
    padding-top: 30px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-volver {
    padding: 10px 20px;
    background-color: #6c757d; /* Gris suave */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-left: 10px; /* Espacio entre botones */
}

.btn-volver:hover {
    background-color: #5a6268; /* Gris más oscuro en hover */
}